@media (max-width: 600px) and (pointer: coarse) {

    /* pointer: coarse sprawdza czy urządzenie ma „mało precyzyjny” wskaźnik (np. palec na ekranie dotykowym) */
    .logo {
        justify-content: center;
        left: auto;
        position: relative;
        width: 100%;

    }

    h1 {
        white-space: nowrap;
        margin: 0;
        padding: 0;
        font-size: 35px;
    }

    .nawigacja {
        position: fixed;
        left: var(--padding-side);
        width: var(--odstepy-mobilne);
        bottom: 0;
        margin: 0;
        /* wliczenie obwodki w rozmiar tla */
        box-sizing: border-box;
        padding: 10px 0;
        padding-bottom: calc(10px + env(safe-area-inset-bottom));
        display: flex;
        justify-content: space-around;
        align-items: center;
        z-index: 999;
        background-color: var(--color-light);
        border: 1.5px solid var(--color-bronze);
        border-radius: var(--border-radius);
        transform: none !important;
        transition: none !important;
    }

    .lupa-komp {
        display: none;
    }

    .przycisk-szukaj-mobile {
        display: flex;
        background: none;
        border: none;
    }

    .przycisk-kasuj {
        position: absolute;
        right: 15px;
        left: auto;
        height: 40px;
        width: 40px;
        margin: 0;
        opacity: 0;
    }

    .przycisk-kasuj.widoczny {
        opacity: 1;
        pointer-events: auto;
    }

    /* stylizacja kiedy wyszukiwarka jest zwinieta */
    .wyszukiwarka-pole:not(.szukamy)~.przycisk-kasuj.widoczny {
        position: fixed;
        top: 80px;
        right: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--color-light-trans);
        border: 1.5px solid var(--color-bronze);
        border-radius: var(--border-radius);
        outline: none;
        color: var(--color-bronze);

    }


    .nawigacja i {
        font-size: 35px;
    }

    .wyszukiwarka-x {
        position: fixed;
        display: flex;
        align-items: center;
        top: 15px;
        left: var(--padding-side);
        right: var(--padding-side);
        z-index: 1000;


    }

    .wyszukiwarka-pole {
        /* domyslnie ukryta */
        /* display: none; */
        opacity: 0;
        pointer-events: none;

        position: relative;
        width: 100%;

        font-size: 20px;
        margin: 0;
        padding: 15px;
        box-sizing: border-box;
        background-color: var(--color-light);
        /* transition: opacity 0.1s ease, visibility 0.1s ease; */
    }

    .wyszukiwarka-pole.szukamy {
        opacity: 1;
        pointer-events: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .wyszukiwarka-pole.szukamy~.nawigacja {
        opacity: 0;
        pointer-events: none;
    }

    .wyszukiwarka-pole::placeholder {
        color: var(--color-bronze);
    }

    /* .naw-tekst {
        display: auto;
        /*nie wyswietlac*
    } */



}