.header-tlo {
    background-color: var(--color-light);
    border-top: 1.5px solid var(--color-bronze);
    border-bottom: 1.5px solid var(--color-bronze);
}

.wrapper {
    /* baza dla logo */
    position: relative;
    display: flex;
    /* wszystko do prawej */
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px var(--padding-side);
    max-width: 1600px;
    margin: 0 auto;
    column-gap: 40px;
    /*odstep w poziomie miedzy logo a nawigacja*/
    row-gap: 15px;
    /*odstep w pionie po przelamaniu linii*/
}

/* #region LOGO */
.logo {
    position: absolute;
    display: flex;
    align-items: center;
    left: var(--padding-side);
    /* margin: 0 20px 0 0;   */
    gap: 10px;
}

h1 {
    color: var(--color-bronze);
    font-family: var(--font-main);
    font-weight: bold;
    text-align: left;
    font-size: 40px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;

}

img {
    height: 40px;
}

/* #endregion */

/* #region WYSZUKIWARKA */
.wyszukiwarka-x {
    position: relative;
    display: flex;
    align-items: center;

    margin: 0;
    padding: 0;
}

/* POLE TEKSTOWE */
.wyszukiwarka-pole {
    position: static;
    display: flex;

    background-color: var(--color-light);
    border: 1.5px solid var(--color-bronze);
    border-radius: var(--border-radius);
    outline: none;
    color: var(--color-bronze);
    font-family: var(--font-main);
    font-size: 18px;

    width: 90px;
    margin: 0;
    padding: 5px 65px 5px 10px;
    transition: width 0.4s ease-out, border-color 0.4s ease-out;
}

.wyszukiwarka-pole::placeholder {
    color: var(--color-bronze);
    font-family: var(--font-main);
    font-weight: 300;
    opacity: 0.5;
}

/* PRZYCISK KASOWANIA */
.przycisk-kasuj {
    position: absolute;
    align-items: center;
    right: 25px;

    background: none;
    border: none;
    cursor: pointer;
    transition: color 0.2s ease;

    opacity: 0.3;
    pointer-events: none;
}

/* PRZYCISK LUPY */
.przycisk-szukaj-mobile {
    display: none;
}

.lupa-komp {
    position: absolute;
    align-items: center;
    right: 5px;

    background: none;
    border: none;
    cursor: pointer;
    transition: color 0.2s ease;
    pointer-events: none;

}



/* AKCJE - NAJECHANIE I KLIKNIECIE */
/* dziala tylko na komputerach */
@media (hover: hover) and (pointer: fine) {
    i:hover {
        /*co sie dzieje po najechaniu */
        transform: scale(0.8);
        color: var(--color-blue);
    }

    /* #region WYSZUKIWARKA + LUPA */
    .wyszukiwarka-x:hover .lupa-komp i {
        color: var(--color-blue);
    }

    .wyszukiwarka-x:hover .wyszukiwarka-pole {
        border-color: var(--color-blue);
    }

    /* #endregion */

    .wyszukiwarka-pole.szukamy {
        width: 250px;
    }

    .wyszukiwarka-pole:focus {
        width: 250px;
        border-color: var(--color-blue);
    }

    .przycisk-kasuj.widoczny {
        opacity: 1;
        pointer-events: auto;
    }

    .wrapper:focus-within .lupa-komp i {
        /* pod czas pisania tekstu by lupa nadal miala inny kolor */
        color: var(--color-blue);
    }
}

/* #endregion */

.nawigacja {
    display: flex;
    align-items: center;
    list-style: none;
    white-space: nowrap;
    margin-left: -40px;
    padding: 0;
    color: var(--color-bronze);
    font-family: var(--font-main);
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    gap: 20px;
}

i {
    font-size: 28px;
    color: var(--color-bronze);
}

.nawigacja a {
    display: flex;
    align-items: center;
    gap: 10px;
}

.naw-tekst {
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    /* Width działa tylko na block/inline-block */
    display: inline-block;
    max-width: 150px;
    opacity: 1;
    transition: all 0.3s ease-out;
}

@media (max-width: 1350px) {
    .wrapper {
        flex-wrap: nowrap;
        justify-content: flex-end;
    }

    .logo {
        width: auto;
        /* logo nie moze sie scisnac */
        /* flex-shrink: 0; */
        /* Logo na lewo, reszta na prawo */
        margin-right: auto;
    }

    .nawigacja {
        width: auto;
        gap: 15px;
    }

    .wrapper:focus-within .naw-tekst {
        max-width: 0;
        opacity: 0;
        transition: all 0.4s ease-in;
    }

    .wyszukiwarka-pole {
        width: 40px;
    }

    .wyszukiwarka-pole::placeholder {
        color: transparent;
    }

}

@media (max-width: 1150px) {
    .wrapper {
        flex-wrap: wrap;
        justify-content: center;
        margin: 0;
        padding: 20px 20px 10px 20px;
        row-gap: 0;
    }

    .logo {
        /* zmiana z absolute zeby flexbox zaczal dzialac */
        position: relative;
        /* resetowanie przesuniecia do lewej */
        left: auto;
        justify-content: center;
        flex-basis: 100%;
    }

    .wrapper:focus-within .naw-tekst {
        max-width: 0;
        opacity: 0;
        transition: all 0.4s ease-out;
    }

    .wyszukiwarka-pole::placeholder {
        color: transparent;
    }

    .wyszukiwarka-pole:focus-within::placeholder {
        color: var(--color-bronze);
        transition: color 0.4s ease-in;
    }

    .wyszukiwarka-pole {
        width: 20px;
    }
}

@media (max-width: 800px) {
    .wrapper {
        flex-wrap: wrap;
        justify-content: center;
        margin: 0;
        padding: 20px 20px 10px 20px;
        row-gap: 0;
    }

    .wrapper .naw-tekst {
        max-width: 0;
        opacity: 0;
    }
}

@media (max-width: 600px) {
    .wrapper {
        row-gap: 15px;
    }

    .wyszukiwarka-x {
        position: relative;
        display: flex;
        align-items: center;
        /* zajmuje cala szerokosc */
        /* flex-basis: 100%; */
        justify-content: center;
        margin: 0;
    }

    .wyszukiwarka-pole {
        width: 250px;
    }


    .wyszukiwarka-pole::placeholder {
        color: var(--color-bronze);
        opacity: 0.5;
    }



    .lupa-komp {
        position: absolute;
        right: 5px;
    }

    .nawigacja {
        flex-basis: 100%;
        justify-content: center;
        margin: 0;
        gap: 20px;
    }
}