h1 {
    color:var(--color-bronze);
    font-family:var(--font-main);
    font-weight: bold;
    text-align: center;
    font-size: 50px;
    margin-bottom: 10px;
}
.main-container {
    padding: 10px 40px;
    background:linear-gradient(to bottom, white, var(--color-light));
    min-height: 100vh; /*zapewnia ze tlo pokrywa cala wysokosc ekranu*/
}
