h1 {
    color:var(--color-bronze);
    font-family:var(--font-main);
    font-weight: bold;
    text-align: center;
    font-size: 50px;
    margin-bottom: 10px;
}


.main-container {
    padding: 10px 40px;
}
