.wrapper {
    padding: 10px var(--padding-side);
    max-width: 1600px;
    margin: 0 auto;
}
/* #region NAGLOWEK I KRESKI */
.selection-divider {
    display: flex;
    align-items: center; /*wyrownanie w pionie*/
    justify-content: center;
    width: 100%; /*cala szerokosc gridu*/
    /* margin: 20px 0; odstep od gory i dolu */
}
.selection-divider h3 {
    display: flex;
    align-items: center; /*wyrownanie w pionie*/
    width: 100%;
    font-family: var(--font-main);
    font-weight: 300;
    font-size: 24px;
    color: var(--color-bronze);
}
.selection-divider h3 span {
    padding: 0 20px; /*odstep tekstu od kresek*/
    white-space: nowrap; /*zapobiega lamaniu tekstu na malych ekranach*/
}
.selection-divider h3::before,
.selection-divider h3::after {
    content: '';
    flex-grow: 1; /*rozciagniecie na boki*/
    height: 4px; /*jak gleboko w dol idzie zagiecie*/
    margin-top: 10px; /*obniza krawedz by zrownala sie ze srodkiem tekstu*/
}

.selection-divider h3::before {
    border-top: 1.5px solid var(--color-bronze);
    border-left: 1px solid var(--color-bronze);
    border-top-left-radius: 8px;
}

.selection-divider h3::after {
    border-top: 1.5px solid var(--color-bronze);
    border-right: 1px solid var(--color-bronze);
    border-top-right-radius: 8px;
}
/* #endregion */

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px; /*odstepy miedzy kawami*/
    align-items: flex-start; /*karty nie beda sie rozciagac w dol* */
}

.column {
    display: flex;
    flex-direction: column;
    gap: 20px; /*odstep pionowy miedzy kartami w kolumnie*/
    flex: 1; /*kazda kolumna zajmuje tyle samo miejsca - 1/4 szerokosci*/
}

/* #region KARTA PRODUKTU */
.product-card {
    background: linear-gradient(to bottom, rgba(216, 181, 163, 0.168), white);
    border-radius: var(--border-radius);
    /*box-shadow: 0 4px 10px rgba(0,0,0,0.1);*/
    display: flex;
    justify-content: flex-end; /*staly dol karty*/
    flex-direction: column; /*uklada elementy jeden pod drugim*/
    align-items: center; /*srodkuje wszystkie dzieci w osi poziomej, w tym zwezajace sie zdjecie i tekst*/
    overflow: hidden; /*nic nie wycieka z karty*/
    padding: 0; /*domyslnie brak paddingu zeby zdjecie zajmowalo 100% szerokosci i bylo u gory*/
    transition: padding 0.4s ease-in-out;
    /* transition-delay: 0.3s; /*opoznienie animacji o 0.3s * */
    /* isolation: isolate; mowimy przegladarce ze el wewnatrz kontenera nie moze wplywac na reszte strony */
}
/* .product-card.is-open {
    padding: 20px;
} */
/* #endregion */

/* #region FOTO KAWY */
.image-wrapper {
    position: relative; /*kotwica dla dziecka*/
    width: 100%;
    height: 200px;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /*justify na osi pionowej pcha wszystko w dol*/
    margin: 0 auto; /*by przy zmniejszaniu zdjecie stalo w srodku*/
    overflow: hidden; /*wszystko co wystaje poza wrapper zostanie usuniete*/
    transition: width 0.4s ease-in-out, height 0.4s ease-in-out, margin 0.4s ease-in-out;
    /* isolation: isolate; */
}
.image-wrapper.narrowed { /*styl aktywowany przez angulara gdy kawa.expanded=true*/
    border-radius: var(--border-radius); /*zaokraglenie rogow po zwezeniu*/
    height: 180px;
    /* margin-top: 0; */
    width: calc(100% - 40px);
    margin:  20px auto 0 auto;
}

.image-title {
    position: absolute; /*ignorowanie innych ustawien i podporzadkowanie rodzicu - tekst plywa nad zdjeciem*/
    bottom: 0; /*przyklejamy tekst do dolu zdjecia*/
    left: 0;
    z-index: 2; /* >>tekst zajmuje warstwe nad zdjeciem*/
    width: 100%; /*rozciagamy tlo na cala szerokosc*/
    margin: 0;
    padding: 15px 0; /*odstep gora, dol dla tekstu*/
    color: white;
    text-align: center;
    font-family: var(--font-main);
    font-weight: 300; /*100 thin, 300 light, 400 regular, 700 bold*/
    background: linear-gradient(
        to bottom,
        transparent 0%,
        #381300bc 80%,
        rgba(0, 0, 0, 0.734) 100%
    );
    border-radius: var(--border-radius);
}
.product-img {
    position: absolute;
    bottom: 0;
    z-index: 1; /* >>zdjecie jest na najzizszej warstwie*/
    width: 100%;
    height: 200px;
    object-fit: cover; /*foto wypelnia obszar bez rozciagania*/
    object-position: bottom;
    display: block;
    border-radius: var(--border-radius);
    transition: height 0.4s ease-in-out;
}
/* #endregion */

/* #region SZCZEGOLY - GRID */
.details-container {  /*base state: kontener jest zamkniety*/
    display: grid;
    overflow: hidden; /*kontener ukrywa zawartosc gdy wysokosc za mala*/
    opacity: 0; /*tekst przezroczysty*/
    grid-template-rows: 0fr; /*startujemy od 0 czesci wiersza*/
    transition: grid-template-rows 0.5s ease, opacity 0.5s ease-in-out;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
}
.details-container.visible {
    grid-template-rows: 1fr; /*rozwijamy do 1 pelnej czesci - cala zawartosc*/
    opacity: 1;
}
.details-inner {
    min-height: 0; /*to pozwala gridowi poprawnie obliczyc wysokosc do zera*/
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
/* #endregion */

/* #region ZAWARTOSC KARTY PRODUKTU */
.image-toggle-btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    width: 100%; /*aby przycisk zajmowal cala szerokosc karty*/
    display: block; /*usuwa zbedne przerwy pod obrazkiem*/
}
.short-description {
    font-family: var(--font-main);
    font-weight: 300; /*100 thin, 300 light, 400 regular, 700 bold*/
    width: 100%;
    text-align: left;
    margin-top: 20px;
}
.cart-btn {
    background-color: var(--color-bronze);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    width: 100%;
}
iframe {
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: var(--border-radius);
    margin-bottom: 15px;
}
.long-description {
    /* border-radius: 5px; */
    margin-top: 0;
    font-family: var(--font-main);
    font-weight: 100;
    font-size: 14px;
    line-height: 1.5; /*odstep miedzy liniami*/
    text-align: justify; /*wyrownanie tekstu po obu stronach*/
    hyphens: auto; /*dzielenie na sylaby. w index.html musi byc PL <html lang="pl">*/
    /* letter-spacing: 0.01em; */
}
/* #endregion */

